
body {
  max-width: 90%;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;

}
h1 {
  text-transform: uppercase;
  font-size: 1.2em;
  margin: 2rem 7px;
  font-weight: 400;
}
img {
  display: block;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  text-align: center;
  margin: auto 20px;
}

.employeeList {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.5em;
}

.employee-card {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
    'image name'
    'image email'
    'image location';
  grid-row-gap: 0;
  padding: 10px 0px;
  border: 1.3px solid lightgray;
  border-radius: 10px;
  height: 120px;
  width: 100%;
}

.employeeImage {
  grid-area: image;
  align-self: center;
}

h3.info-detail{
  grid-area: name;
  align-self: end;
}

p:first-of-type.info-detail  {
  grid-area: email;
  align-self: center;
  color: rgb(170, 169, 169);
}

p:last-of-type.info-detail  {
  grid-area: location;
  align-self: flex-start;
  color: rgb(170, 169, 169);
}

.info-detail {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.modal-info {
  font-size: 0.8em;
  color: rgb(170, 169, 169);
}

hr {
  height: 1px;
  background-color:   rgb(196, 194, 194);
  border: none;
  margin: 2em 0;
}

#modal-btn{
  border: none;
  background: white;
}

#modal-btn:focus{
  outline-style: none;
}
.my-modal {
  position: fixed;
  background-color: rgba(73, 71, 71, 0.6);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: block;
  text-align: center;
}

.modalContent {
  background-color:whitesmoke;
  margin: 150px auto;
  width: 60%;
  padding: 2em;
  color: gray;
  text-align: center;
  border-radius: 10px;
}

.modalContent h3 {
  color: black;
}

#closeBtn {
  position: absolute;
  top: 160px;
  right: 21%;
  font-size: 1.6em;

}

#closeBtn:hover,
#closeBtn:focus {
  color: black;
  cursor: pointer;
}
.modalContent img {
  display: block;
  margin: 0 auto;
}

@media screen and (min-width: 720px) {
  .employeeList {
    grid-template-columns: 1fr 1fr;
  }

  .modalContent {
    width: 40%;
    margin: 150px auto;
    max-width: 320px;
  }

  #closeBtn {
    right: 32vw;
  }
}

@media screen and (min-width: 990px) {
  body {
    width: 100%;
    max-width: 1100px;
  }
  .employeeList {
    grid-template-columns: 1fr 1fr 1fr;
  }

  #closeBtn {
    right: 37vw;
  }
}